/* global style */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #b40000;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

header ul {
    position: relative;
}

header img {
    height: 3rem;
}

header .underline {
    padding: .2rem 0;
    background-color: rgb(130, 0, 0);
    position: absolute;
    bottom: -.2rem;
    width: 100%;
}

header .active {
    background-color: rgb(130, 0, 0);
    padding-bottom: 1.5rem;
    font-weight: bold;
}

.danger {
    color: rgb(228, 91, 91);
    font-weight: bold;
}
