/* global style */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fcd9d9;
    font-size: 1.2rem;
    min-width: 340px;
}

header {
    background-color: #b40000;
    position: relative;
    font-size: .9rem;
}

header .nav {
    justify-content: end;
    position: relative;
}

header img {
    height: 3rem;
}

header .underline {
    padding: .2rem 0;
    background-color: rgb(130, 0, 0);
    position: absolute;
    bottom: -.2rem;
    width: 100%;
}

header .active {
    background-color: rgb(130, 0, 0);
    padding-bottom: 1.5rem;
    font-weight: bold;
}

.intro {
    background-image: url('../../img/background/bovinos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.table-content {
    overflow-x: auto;
}

.table {
    overflow-x: auto;
}

th, td {
    vertical-align: middle;
}

.danger {
    color: #e45b5b;
    font-weight: bold;
}

.table-pagination nav {
    display: inline-block;
}

.table-pagination nav .pagination .active{
    color: white !important;
}

.table-pagination nav .pagination .page-item:not(.active) .page-link{
    color: black;
}

/* bootstrap alert remake */

.alert-success {
    background-color: rgb(126, 200, 126);
    border-color: transparent;
    border-radius: 0;
}

.alert-danger {
    background-color: rgb(241, 168, 168);
    border-color: transparent;
    border-radius: 0;
}

@media screen and (max-width: 768px) {
    html, body {
        font-size: 1rem;
    }

    header .logo-content {
        text-align: center;
        justify-content: center !important;
    }

    header .logo-content img {
        height: 1.9rem;
    }

    header .nav {
        justify-content: center !important;
    }

    table .btn {
        font-size: .8rem;
        padding: .4rem;
    }
}
