.active {
    background-color: rgb(130, 0, 0) !important;
    border-color: transparent !important;
}

.tab:not(.show) {
    display: none;
}

.tab {
    background-color: inherit !important;
}

.list-group-item {
    border-radius: 0 !important;
}
